@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

#signInBody {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1280px;
}

#signInBody .signin {
  width: 400px;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 9);
  margin-left: 400px;
  margin-top: 30px;
}

#signInBody .signin .content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

#signInBody .signin .content h2 {
  font-size: 2em;
  color: #00cef1;
  text-transform: uppercase;
}

#signInBody .signin .content .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

#signInBody .signin .content .form .inputBox {
  position: relative;
  width: 100%;
}

#signInBody .signin .content .form .inputBox input {
  position: relative;
  width: 100%;
  background: #333;
  border: none;
  outline: none;
  padding: 25px 10px 7.5px;
  border-radius: 4px;
  color: #00cef1;
  font-weight: 500;
  font-size: 1em;
}

#signInBody .signin .content .form .links {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#signInBody .signin .content .form .links a {
  color: #00cef1;
  text-decoration: none;
}

#signInBody .signin .content .form .links a:nth-child(2) {
  color: #00cef1;
  font-weight: 600;
}

#signInBody .signin .content .form .inputBox input[type="submit"] {
  padding: 10px;
  background: #00cef1;
  color: #000;
  font-weight: 600;
  font-size: 1.35em;
  letter-spacing: 0.05em;
  cursor: pointer;
}

#signInBody .signin .content .form .inputBox input[type="submit"]:active {
  opacity: 0.6;
}

@media (max-width: 900px) {
  section span {
    width: calc(10vw - 2px);
    height: calc(10vw - 2px);
  }
}

@media (max-width: 600px) {
  section span {
    width: calc(20vw - 2px);
    height: calc(20vw - 2px);
  }
}