#followingPage,
#foryouPage {
    margin-top: 80px;
    max-width: 100%;
    background-color: #121212;
}

#followingPage #foryou,
#foryouPage #foryou {
    justify-content: center;
    padding: 2rem;
    position: relative;
    float: left;
    margin: 0 300px 0 300px;
}

#followingPage #foryou #video,
#foryouPage #foryou #video {
    margin: 0 150px;
}

#followingPage #foryou #video .videos__container,
#foryouPage #foryou #video .videos__container {
    margin-top: 30px;
}

#followingPage #foryou #video .videos__container .avatarContainer,
#foryouPage #foryou #video .videos__container .avatarContainer {
    flex: 40%;
    max-width: 40%;
}

#followingPage #foryou #video .videos__container .avatarContainer .avatarVideo .avatar,
#foryouPage #foryou #video .videos__container .avatarContainer .avatarVideo .avatar {
    border-radius: 50%;
    width: 40%;
    margin-left: 30px;
}

#followingPage #foryou #video .videos__container .videoContainer,
#foryouPage #foryou #video .videos__container .videoContainer {
    margin-top: -95px;
    margin-bottom: 40px;
    margin-left: 120px;
    flex: 60%;
    max-width: 60%;
}

#followingPage #foryou #video .videos__container .videoContainer .video-user,
#foryouPage #foryou #video .videos__container .videoContainer .video-user {}

#followingPage #foryou #video .videos__container .videoContainer .video-user .videoDesc,
#foryouPage #foryou #video .videos__container .videoContainer .video-user .videoDesc {
    width: 400px;
    margin-top: -0.5px;
}

#followingPage #foryou #video .videos__container .videoContainer .videoDetails,
#foryouPage #foryou #video .videos__container .videoContainer .videoDetails {
    display: flex;
}

#followingPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videos,
#foryouPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videos {
    margin-right: 10px;
    height: calc(450px + ((100vw - 768px) / 1152) * 200);
}

#followingPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction,
#foryouPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction {
    float: right;
    margin-right: -60px;
}

#followingPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction .action_btn,
#foryouPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction .action_btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0;
    background-color: #2f2f2f;
    margin-bottom: -10px;
    font-size: 20px;
    cursor: pointer;
}

#followingPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction .action_btn:hover,
#foryouPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction .action_btn:hover {
    background-color: #252525;
}

#followingPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction .actionAmount,
#foryouPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction .actionAmount {
    text-align: center;
}

#followingPage #foryou .userContainer {
    margin: 0 20px;
}

#followingPage #foryou .userContainer .userVideo {
    display: flex;
    flex-wrap: wrap;
}

#followingPage #foryou .userContainer .userVideo .userInfo {
    position: relative;
    flex: 33.333%;
    max-width: 33.333%;
    margin: 0 -30px 15px 0 ;
    /* padding: 20px 0 0 20px; */
    border-radius: 0 10px 10px 10px;
}

#followingPage #foryou .userContainer .userVideo .userInfo .imgUser {
    width: 230px;
    height: 302px;
    position: relative;
    border-radius: 10px;
}

#followingPage #foryou .userContainer .userVideo .userInfo .avatarUser {
    position: absolute;
    border-radius: 50%;
    width: 20%;
    left: 100px;
    bottom: 130px;
}

#followingPage #foryou .userContainer .userVideo .userInfo .userFollow {
    position: absolute;
    bottom: 8px;
    text-align: center;
    margin-left: 15px;
    margin-bottom: 5px;
}

#followingPage #foryou .userContainer .userVideo .userInfo .userFollow .user {
    margin: 10px;
}

#followingPage #foryou .userContainer .userVideo .userInfo .userFollow .followBtn {
    background-color: #f22459;
    border-radius: 3px;
    border: 0;
    padding: 0.6em 0;
    width: 200px;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
}

#followingPage #foryou .userContainer .userVideo .userInfo .userFollow #followBtn:hover {
    background-color: #e53154;
}

@media screen and (max-width: 2200px) {

    #followingPage #foryou #video,
    #foryouPage #foryou #video {
        margin: 0 360px;
    }

    #followingPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction,
    #foryouPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction {
        padding-top: 310px;
    }
}

@media screen and (max-width: 2160px) {

    #followingPage #foryou #video,
    #foryouPage #foryou #video {
        margin: 0 350px;
    }

    #followingPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction,
    #foryouPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction {
        padding-top: 305px;
    }
}

@media screen and (max-width: 2120px) {

    #followingPage #foryou #video,
    #foryouPage #foryou #video {
        margin: 0 340px;
    }

    #followingPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction,
    #foryouPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction {
        padding-top: 300px;
    }
}

@media screen and (max-width: 2080px) {

    #followingPage #foryou #video,
    #foryouPage #foryou #video {
        margin: 0 330px;
    }

    #followingPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction,
    #foryouPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction {
        padding-top: 295px;
    }
}

@media screen and (max-width: 2040px) {

    #followingPage #foryou #video,
    #foryouPage #foryou #video {
        margin: 0 320px;
    }

    #followingPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction,
    #foryouPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction {
        padding-top: 290px;
    }
}

@media screen and (max-width: 2000px) {

    #followingPage #foryou #video,
    #foryouPage #foryou #video {
        margin: 0 310px;
    }

    #followingPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction,
    #foryouPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction {
        padding-top: 285px;
    }
}

@media screen and (max-width: 1960px) {

    #followingPage #foryou #video,
    #foryouPage #foryou #video {
        margin: 0 300px;
    }

    #followingPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction,
    #foryouPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction {
        padding-top: 280px;
    }
}

@media screen and (max-width: 1920px) {

    #followingPage #foryou #video,
    #foryouPage #foryou #video {
        margin: 0 290px;
    }

    #followingPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction,
    #foryouPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction {
        padding-top: 275px;
    }
}

@media screen and (max-width: 1880px) {

    #followingPage #foryou #video,
    #foryouPage #foryou #video {
        margin: 0 280px;
    }

    #followingPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction,
    #foryouPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction {
        padding-top: 270px;
    }
}

@media screen and (max-width: 1840px) {

    #followingPage #foryou #video,
    #foryouPage #foryou #video {
        margin: 0 270px;
    }

    #followingPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction,
    #foryouPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction {
        padding-top: 265px;
    }
}

@media screen and (max-width: 1800px) {

    #followingPage #foryou #video,
    #foryouPage #foryou #video {
        margin: 0 260px;
    }

    #followingPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction,
    #foryouPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction {
        padding-top: 260px;
    }
}

@media screen and (max-width: 1760px) {

    #followingPage #foryou #video,
    #foryouPage #foryou #video {
        margin: 0 250px;
    }

    #followingPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction,
    #foryouPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction {
        padding-top: 255px;
    }
}

@media screen and (max-width: 1720px) {

    #followingPage #foryou #video,
    #foryouPage #foryou #video {
        margin: 0 240px;
    }

    #followingPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction,
    #foryouPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction {
        padding-top: 250px;
    }
}

@media screen and (max-width: 1680px) {

    #followingPage #foryou #video,
    #foryouPage #foryou #video {
        margin: 0 230px;
    }

    #followingPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction,
    #foryouPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction {
        padding-top: 245px;
    }
}

@media screen and (max-width: 1640px) {

    #followingPage #foryou #video,
    #foryouPage #foryou #video {
        margin: 0 220px;
    }

    #followingPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction,
    #foryouPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction {
        padding-top: 240px;
    }
}

@media screen and (max-width: 1600px) {

    #followingPage #foryou #video,
    #foryouPage #foryou #video {
        margin: 0 210px;
    }

    #followingPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction,
    #foryouPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction {
        padding-top: 235px;
    }
}

@media screen and (max-width: 1580px) {

    #followingPage #foryou #video,
    #foryouPage #foryou #video {
        margin: 0 190px;
    }

    #followingPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction,
    #foryouPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction {
        padding-top: 225px;
    }
}

@media screen and (max-width: 1560px) {

    #followingPage #foryou #video,
    #foryouPage #foryou #video {
        margin: 0 160px;
    }

    #followingPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction,
    #foryouPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction {
        padding-top: 220px;
    }
}

@media screen and (max-width: 1540px) {

    #followingPage #foryou #video,
    #foryouPage #foryou #video {
        margin: 0 130px;
    }

    #followingPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction,
    #foryouPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction {
        padding-top: 215px;
    }
}

@media screen and (max-width: 1500px) {

    #followingPage #foryou #video,
    #foryouPage #foryou #video {
        margin: 0 100px;
    }

    #followingPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction,
    #foryouPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction {
        padding-top: 210px;
    }
}

@media screen and (max-width: 1460px) {

    #followingPage #foryou #video,
    #foryouPage #foryou #video {
        margin: 0 700px;
    }

    #followingPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction,
    #foryouPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction {
        padding-top: 210px;
    }
}