#followingPage,
#foryouPage {
    display: flex;
    margin-top: 80px;
    max-width: 100%;
    background-color: #121212;
}

#followingPage #foryou,
#foryouPage #foryou {
    justify-content: center;
    padding: 2rem;
    position: relative;
    flex: 80%;
    max-width: 80%;
}

#followingPage #foryou #video,
#foryouPage #foryou #video {
    margin-left: 100px;
}

#followingPage #foryou #video .videos__container .avatarContainer,
#foryouPage #foryou #video .videos__container .avatarContainer {
    flex: 15%;
    max-width: 15%;
}

#followingPage #foryou #video .videos__container .avatarContainer .avatarVideo .avatar,
#foryouPage #foryou #video .videos__container .avatarContainer .avatarVideo .avatar {
    border-radius: 50%;
    width: 40%;
    margin-left: 20px;
    margin-top: 30px;
}

#followingPage #foryou #video .videos__container .videoContainer,
#foryouPage #foryou #video .videos__container .videoContainer {
    margin-top: -95px;
    margin-bottom: 40px;
    margin-left: 120px;
    flex: 85%;
    max-width: 60%;
}

#followingPage #foryou #video .videos__container .videoContainer .video-user,
#foryouPage #foryou #video .videos__container .videoContainer .video-user {

}

#followingPage #foryou #video .videos__container .videoContainer .video-user .follow_btn,
#foryouPage #foryou #video .videos__container .videoContainer .video-user .follow_btn {
    float: right;
    margin-top: 10px;
    width: 100px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #f22459;
    color: #f22459;
    border-radius: 5px;
    margin-right: 100px;
    font-size: 15px;
}

#followingPage #foryou #video .videos__container .videoContainer .video-user .videoDesc,
#foryouPage #foryou #video .videos__container .videoContainer .video-user .videoDesc {
    width: 400px;
}

#followingPage #foryou #video .videos__container .videoContainer .videoDetails,
#foryouPage #foryou #video .videos__container .videoContainer .videoDetails {
    display: flex;
}

#followingPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videos,
#foryouPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videos {
    margin-right: 10px;
    height: calc(450px + ((100vw - 768px) / 1152) * 200);
}

#followingPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction,
#foryouPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction {
    float: right;
    padding-top: 280px;
}

#followingPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction .action_btn,
#foryouPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction .action_btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0;
    background-color: #2f2f2f;
    margin-bottom: -10px;
    font-size: 20px;
    cursor: pointer;
}

#followingPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction .action_btn:hover,
#foryouPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction .action_btn:hover {
    background-color: #252525;
}

#followingPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction .actionAmount,
#foryouPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction .actionAmount {
    text-align: center;
}

#followingPage #foryou .userContainer {

}

#followingPage #foryou .userContainer .userVideo {
    display: flex;
    flex-wrap: wrap;
    margin: 0 65px;
}

#followingPage #foryou .userContainer .userVideo .userInfo {
    position: relative;
    flex: calc(25% - 30px);
    max-width: calc(25% - 30px);
    margin: 0 20px 0 15px;
    padding: 20px 0 0 20px;
    border-radius: 0 10px 10px 10px;
}

#followingPage #foryou .userContainer .userVideo .userInfo .imgUser {
    width: 230px;
    height: 302px;
    position: relative;
    border-radius: 10px;
}

#followingPage #foryou .userContainer .userVideo .userInfo .avatarUser {
    position: absolute;
    border-radius: 50%;
    width: 20%;
    left: 100px;
    bottom: 130px;
}

#followingPage #foryou .userContainer .userVideo .userInfo .userFollow {
    position: absolute;
    bottom: 8px;
    text-align: center;
    margin-left: 15px;
    margin-bottom: 5px;
}

#followingPage #foryou .userContainer .userVideo .userInfo .userFollow .user {
    margin: 10px;
}

#followingPage #foryou .userContainer .userVideo .userInfo .userFollow .followBtn {
    background-color: #f22459;
    border-radius: 3px;
    border: 0;
    padding: 0.6em 0;
    width: 200px;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
}

#followingPage #foryou .userContainer .userVideo .userInfo .userFollow #followBtn:hover {
    background-color: #e53154;
}

@media screen and (max-width: 1540px){
    #followingPage #foryou #video .videos__container .avatarContainer .avatarVideo .avatar,
    #foryouPage #foryou #video .videos__container .avatarContainer .avatarVideo .avatar {
        width: 50%;
        margin-top: 30px;
    }

    #followingPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction,
    #foryouPage #foryou #video .videos__container .videoContainer .videoDetails .videoBox .videoAction {
        padding-top: 215px;
    }
}
