#videoDetailsContainer {
    display: flex;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: hidden;
    height: 100%;
}

#videoDetailsContainer::-webkit-scrollbar {
    display: none;
}

#videoDetailsContainer .videoInfo:nth-child(1) {
    flex: 60%;
    max-width: 60%;
    padding-left: 400px;
    padding-bottom: -100px;
}

#videoDetailsContainer .videoInfo:nth-child(2) {
    height: 100%;
    flex: 40%;
    max-width: 40%;
    padding: 25px 25px 25px 25px;
    background-color: #121212;
}

#videoDetailsContainer .videoInfo .videoDetailsPage {
    height: 100%;
    position: absolute;
}

#videoDetailsContainer .videoInfo .video_info_container .info-container {
    border-radius: 15px;
    display: flex;
    background-color: #1b1b1b;
    padding: 10px 10px 10px 10px;
    margin-bottom: 20px;
}

#videoDetailsContainer .videoInfo .video_info_container .info-container .avatarDetails {
    border-radius: 50%;
    width: 50px;
    margin-right: 10px;
}

#videoDetailsContainer .videoInfo .video_info_container .info-container .infoContainer .descVid {
    margin-left: -60px;
    margin-top: 20px;
}

#videoDetailsContainer .videoInfo .video_info_container .actionContainer {
    display: inline;
}

#videoDetailsContainer .videoInfo .video_info_container .actionContainer .videoActions {
    display: flex;
}

#videoDetailsContainer .videoInfo .video_info_container .actionContainer .videoActions .action_btn {
    display: inline;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 0;
    background-color: #2f2f2f;
    cursor: pointer;
}

#videoDetailsContainer .videoInfo .video_info_container .actionContainer .videoActions .action_btn:hover {
    background-color: #252525;
}

#videoDetailsContainer .videoInfo .video_info_container .actionContainer .videoActions .actionAmount {
    margin: 6px 18px 0 8px;
}

#videoDetailsContainer .videoInfo .video_info_container .actionContainer .shareBtnContainer {
    margin-top: -32.5px;
    float: right;
}

#videoDetailsContainer .videoInfo .video_info_container .actionContainer .shareBtnContainer .action_btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0;
    margin-right: 5px;
    background-color: #2f2f2f;
    cursor: pointer;
}

#videoDetailsContainer .videoInfo .video_info_container .actionContainer .shareBtnContainer .action_btn:hover {
    background-color: #252525;
}

#videoDetailsContainer .videoInfo .video_info_container .comment__container {
    width: 100%;
}

#videoDetailsContainer .videoInfo .video_info_container .comment__container .comment__s {
    display: flex;
    margin-bottom: 15px;
}

#videoDetailsContainer .videoInfo .video_info_container .comment__container .comment__s .avatarComment {
    border-radius: 50%;
    width: 50px;
    margin-right: 10px;
}

#videoDetailsContainer .videoInfo .video_info_container .comment__container .comment__s .infoComment {
    width: 100%;
}

#videoDetailsContainer .videoInfo .video_info_container .comment__container .comment__s .infoComment .subComment {
    margin-top: 15px;
}

#videoDetailsContainer .videoInfo .video_info_container .comment__container .comment__s .infoComment .reaction_comment {
    float: right;
    margin-top: -50px;
}

#videoDetailsContainer .videoInfo .video_info_container .comment__container .comment__s .reaction_comment .follow_btn {
    background-color: transparent;
    border: 0;
    margin-left: 3px;
}

#videoDetailsContainer .videoInfo .video_info_container .comment__container .comment__s .reaction_comment .actionAmount {
    margin: 3px 0 0 6px;
}

#videoDetailsContainer .videoInfo .comment_input_container {
    position: absolute;
    bottom: 0px;
    border-top: 1px solid #414141;
    margin: 0px 10px;
    padding: 21px 0px;
    display: flex;
}

#videoDetailsContainer .videoInfo .comment_input_container .comment_box .comment_input {
    font-weight: 400;
    width: 400px;
    font-size: 16px;
    line-height: 42px;
    border: none;
    background: #2f2f2f;
    outline: none;
    padding: 0 20px;
    color: rgba(255, 255, 255, .9);
    border-radius: 8px 0 0 8px;
    font-family: inherit;
}

#videoDetailsContainer .videoInfo .comment_input_container .comment_box .mention_button {
    height: 42px;
    background: #2f2f2f;
    border: 1px solid transparent;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    padding-bottom: 2px;
}

#videoDetailsContainer .videoInfo .comment_input_container .comment_box .emoji_button {
    height: 42px;
    border-radius: 0 8px 8px 0;
    background: #2f2f2f;
    border: 1px solid transparent;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    padding-bottom: 2px;
    margin-right: 20px;
}

#videoDetailsContainer .videoInfo .comment_input_container .comment_box .postBtn {
    height: 42px;
    font-family: inherit;
    background-color: transparent;
    margin-right: 25px;
    border: 0;
    cursor: pointer;
}

@media (prefers-color-scheme: light) {
    #videoDetailsContainer .videoInfo:nth-child(1) {
        background-color: #fff;
    }

    #videoDetailsContainer .videoInfo:nth-child(2) {
        background-color: #fff;
    }

    #videoDetailsContainer .videoInfo .video_info_container .info-container {
        background-color: #f8f8f8;
        padding: 10px 10px 10px 10px;
    }

    #videoDetailsContainer .videoInfo .video_info_container .actionContainer .videoActions .action_btn,
    #videoDetailsContainer .videoInfo .video_info_container .actionContainer .shareBtnContainer .action_btn {
        background-color: #f1f1f2;
    }

    #videoDetailsContainer .videoInfo .video_info_container .actionContainer .videoActions .action_btn:hover,
    #videoDetailsContainer .videoInfo .video_info_container .actionContainer .shareBtnContainer .action_btn:hover {
        background-color: #f1f1f3;
    }

    #videoDetailsContainer .videoInfo .comment_input_container {
        border-top: 1px solid #d0d1d3;
    }

    #videoDetailsContainer .videoInfo .comment_input_container .comment_box .comment_input {
        background: #f0f1f3;
    }

    #videoDetailsContainer .videoInfo .comment_input_container .comment_box .mention_button {
        background: #f0f1f3;
        color: #252525;
    }

    #videoDetailsContainer .videoInfo .comment_input_container .comment_box .emoji_button {
        background: #f0f1f3;
        color: #252525;
    }

    #videoDetailsContainer .videoInfo .comment_input_container .comment_box .postBtn {
        color: #252525;
    }
}

@media screen and (max-width: 1872px) {
    #videoDetailsContainer .videoInfo .comment_input_container .comment_box .comment_input {
        width: 370px;
    }
}

@media screen and (max-width: 1847px) {
    #videoDetailsContainer .videoInfo .comment_input_container .comment_box .comment_input {
        width: 360px;
    }
}

@media screen and (max-width: 1822px) {
    #videoDetailsContainer .videoInfo .comment_input_container .comment_box .comment_input {
        width: 350px;
    }
}

@media screen and (max-width: 1797px) {
    #videoDetailsContainer .videoInfo .comment_input_container .comment_box .comment_input {
        width: 340px;
    }
}

@media screen and (max-width: 1772px) {
    #videoDetailsContainer .videoInfo .comment_input_container .comment_box .comment_input {
        width: 330px;
    }
}

@media screen and (max-width: 1747px) {
    #videoDetailsContainer .videoInfo .comment_input_container .comment_box .comment_input {
        width: 320px;
    }
}

@media screen and (max-width: 1722px) {
    #videoDetailsContainer .videoInfo .comment_input_container .comment_box .comment_input {
        width: 310px;
    }
}

@media screen and (max-width: 1697px) {
    #videoDetailsContainer .videoInfo .comment_input_container .comment_box .comment_input {
        width: 300px;
    }
}

@media screen and (max-width: 1672px) {
    #videoDetailsContainer .videoInfo .comment_input_container .comment_box .comment_input {
        width: 290px;
    }
}

@media screen and (max-width: 1647px) {
    #videoDetailsContainer .videoInfo .comment_input_container .comment_box .comment_input {
        width: 280px;
    }
}

@media screen and (max-width: 1622px) {
    #videoDetailsContainer .videoInfo .comment_input_container .comment_box .comment_input {
        width: 270px;
    }
}

@media screen and (max-width: 1597px) {
    #videoDetailsContainer .videoInfo .comment_input_container .comment_box .comment_input {
        width: 260px;
    }
}

@media screen and (max-width: 1572px) {
    #videoDetailsContainer .videoInfo .comment_input_container .comment_box .comment_input {
        width: 250px;
    }
}

@media screen and (max-width: 1547px) {
    #videoDetailsContainer .videoInfo .comment_input_container .comment_box .comment_input {
        width: 240px;
    }
}

@media screen and (max-width: 1522px) {
    #videoDetailsContainer .videoInfo .comment_input_container .comment_box .comment_input {
        width: 230px;
    }
}

@media screen and (max-width: 1497px) {
    #videoDetailsContainer .videoInfo .comment_input_container .comment_box .comment_input {
        width: 220px;
    }
}

@media screen and (max-width: 1472px) {
    #videoDetailsContainer .videoInfo .comment_input_container .comment_box .comment_input {
        width: 210px;
    }
}

@media screen and (max-width: 1447px) {
    #videoDetailsContainer .videoInfo .comment_input_container .comment_box .comment_input {
        width: 200px;
    }
}

@media screen and (max-width: 1596px) {
    #videoDetailsContainer .videoInfo:nth-child(1) {
        padding-left: 260px;
    }
}

@media screen and (max-width: 1454px) {
    #videoDetailsContainer .videoInfo:nth-child(1) {
        padding-left: 250px;
    }
}

@media screen and (max-width: 1400px) {
    #videoDetailsContainer .videoInfo:nth-child(1) {
        padding-left: 200px;
    }
}