.modal-overlay {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

.modal-overlay .modal-content {
    background-color: #252525;
    border-radius: 15px;
    margin: auto;
    padding: 20px;
    width: 30%;
    max-height: 80%;
}

.modal-overlay .modal-content .close-button {
    float: right;
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 30px;
    background-color: #2e2e2e;
    position: relative;
}

.modal-overlay .modal-content .back-button {
    float: left;
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 30px;
    background-color: #2e2e2e;
    position: relative;
}

.modal-overlay .modal-content .inputContainer .input_container .btnLogin {
    width: 99%;
    height: 48px;
    font-family: inherit;
    border-radius: 10px;
    background-color: #fe2c55;
    border: 0;
    font-size: 20px;
    font-weight: 600;
}

.modal-overlay .modal-content .inputContainer .input_container .btnLogin:hover {
    background-color: #ef2950;
}

.modal-overlay .modal-content .inputContainer .input_container .btnLogin:disabled {
    background-color: #363636;
}

.license {
    width: 100%;
    padding: 5px 0 5px 0;
    background-color: #121212;
}

.login_methods {
    overflow: auto;
    height: 450px;
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
    overflow-y: scroll;
}

.login_methods::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

.loginMethods {
    text-decoration: 0;
    color: #898989;
    font-size: 20px;
}

.loginMethod {
    background-color: #2e2e2e;
    color: #fff;
    padding: 0.8em 1.4em;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}

@media (prefers-color-scheme: light) {
    .modal-overlay .modal-content {
        background-color: #fff;
    }

    .modal-overlay .modal-content .close-button {
        background-color: #f8f8f8;
    }
    
    .modal-overlay .modal-content .back-button {
        background-color: #f8f8f8;
    }

    .loginMethod {
        background-color: #fff;
        color: #000;
        border: 1px solid #e3e3e4;
    }

    .license {
        background-color: #fff;
    }

    .modal-overlay .modal-content .inputContainer .input_container .btnLogin:disabled {
        background-color: #f1f1f2;
    }
}

@media screen and (max-width: 1536px) {
    .login_methods {
        height: 250px;
    }
}