@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

#root {
  width: 100%;
  font-family: 'Quicksand', sans-serif;
  background-color: #121212;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #121212; 
  border-radius: 40%;
}

::-webkit-scrollbar-thumb {
  background: #252525; 
}

@media (prefers-color-scheme: light) {
  ::-webkit-scrollbar-track {
    background: #fff; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: #f1f1f2; 
  }
}
