#userDetailsPage {
    display: flex;
    margin-top: 80px;
    max-width: 100%;
    background-color: #121212;

    #detailedUser {
        flex: 75%;
        margin: 0 0 0 300px;

        .detailedUserComponents {
            margin: 35px 35px 35px 35px;

            .detailedUserInfo {
                .detailedUserName {
                    display: flex;

                    .detailedUserAvatar {
                        margin-top: 30px;

                        .avatarCircle {
                            .avatar {
                                border-radius: 50%;
                                margin-right: 20px;
                            }
                        }
                    }

                    .detailed__username {
                        .detailUsername {
                            font-size: 35px;
                            margin-top: 20px;
                        }

                        .detailFullname {
                            font-size: 20px;
                            margin-top: -40px;
                        }

                        .button__action {
                            .editBtn {
                                margin-top: -20px;
                                background-color: #252525;
                                border-radius: 3px;
                                margin-right: 10px;
                                border: 1px solid #fff;
                                padding: 0.6em 0;
                                font-size: 1em;
                                font-weight: 500;
                                font-family: inherit;
                                color: #fff;
                                cursor: pointer;
                                width: 210px;
                                transition: border-color 0.25s;

                                &:hover {
                                    background-color: #121212;
                                }
                            }

                            .followBtn {
                                &:hover {
                                    background-color: #e53154;
                                }
                            }
                        }
                    }
                }

                .detailedAmount {
                    display: flex;
                    font-weight: 100;

                    div {
                        margin-right: 20px;

                        b {
                            margin-right: 5px;
                        }
                    }
                }

                .user__desc {
                    font-size: 20px;
                    font-weight: 400;
                }

                .detailedAmount {
                    .advancedAction {
                        span {
                            float: right;
                            cursor: pointer;
                            margin-right: 20px;
                        }
                    }
                }
            }
        }

        .videosHeaders {
            margin-left: 35px;
        }

        .userContainer {
            .userVideo {
                display: flex;
                flex-wrap: wrap;

                .userInfo {
                    position: relative;
                    margin: 0 0 0 15px;
                    padding: 20px 0 0 20px;
                    border-radius: 0 10px 10px 10px;

                    .imgUser {
                        position: relative;
                        border-radius: 10px;
                    }

                    .userFollow {
                        position: absolute;
                        bottom: 8px;
                        text-align: center;
                        margin-left: 15px;
                        margin-bottom: 35px;

                        .detailedViewers {
                            margin-left: 10px;
                        }
                    }

                    .video__desc {
                        word-break: break-word;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}

@media (prefers-color-scheme: light) {
    #userDetailsPage {
        background-color: #fff;
    }
}

@media screen and (max-width: 2071px) {
    #userDetailsPage {
        #detailedUser {
            .userContainer {
                .userVideo {
                    .userInfo {
                        flex: calc(12% - 35px);
                        max-width: calc(12% - 35px);

                        .imgUser {
                            width: 200px;
                            height: 263px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 2021px) {
    #userDetailsPage {
        #detailedUser {
            .userContainer {
                .userVideo {
                    .userInfo {
                        .imgUser {
                            width: 190px;
                            height: 250px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1971px) {
    #userDetailsPage {
        #detailedUser {
            .userContainer {
                .userVideo {
                    .userInfo {
                        .imgUser {
                            width: 180px;
                            height: 237px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1921px) {
    #userDetailsPage {
        #detailedUser {
            .userContainer {
                .userVideo {
                    .userInfo {
                        .imgUser {
                            width: 170px;
                            height: 224px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1871px) {
    #userDetailsPage {
        #detailedUser {
            .userContainer {
                .userVideo {
                    .userInfo {
                        flex: calc(14.3% - 40px);
                        max-width: calc(14.3% - 40px);

                        .imgUser {
                            width: 210px;
                            height: 276px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1821px) {
    #userDetailsPage {
        #detailedUser {
            .userContainer {
                .userVideo {
                    .userInfo {
                        .imgUser {
                            width: 200px;
                            height: 263px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1771px) {
    #userDetailsPage {
        #detailedUser {
            .userContainer {
                .userVideo {
                    .userInfo {
                        .imgUser {
                            width: 190px;
                            height: 250px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1721px) {
    #userDetailsPage {
        #detailedUser {
            .userContainer {
                .userVideo {
                    .userInfo {
                        .imgUser {
                            width: 180px;
                            height: 237px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1671px) {
    #userDetailsPage {
        #detailedUser {
            .userContainer {
                .userVideo {
                    .userInfo {
                        flex: calc(16% - 40px);
                        max-width: calc(16% - 40px);

                        .imgUser {
                            width: 200px;
                            height: 263px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1621px) {
    #userDetailsPage {
        #detailedUser {
            .userContainer {
                .userVideo {
                    .userInfo {
                        .imgUser {
                            width: 190px;
                            height: 250px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1571px) {
    #userDetailsPage {
        #detailedUser {
            .userContainer {
                .userVideo {
                    .userInfo {
                        .imgUser {
                            width: 180px;
                            height: 237px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1521px) {
    #userDetailsPage {
        #detailedUser {
            .userContainer {
                .userVideo {
                    .userInfo {
                        .imgUser {
                            width: 170px;
                            height: 224px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1471px) {
    #userDetailsPage {
        #detailedUser {
            .userContainer {
                .userVideo {
                    .userInfo {
                        flex: calc(19% - 30px);
                        max-width: calc(19% - 30px);

                        .imgUser {
                            width: 210px;
                            height: 276px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1421px) {
    #userDetailsPage {
        #detailedUser {
            .userContainer {
                .userVideo {
                    .userInfo {
                        .imgUser {
                            width: 200px;
                            height: 263px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1321px) {
    #userDetailsPage {
        #detailedUser {
            .userContainer {
                .userVideo {
                    .userInfo {
                        .imgUser {
                            width: 190px;
                            height: 250px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1271px) {
    #userDetailsPage {
        #detailedUser {
            .userContainer {
                .userVideo {
                    .userInfo {
                        flex: calc(24.5% - 30px);
                        max-width: calc(24.5% - 30px);

                        .imgUser {
                            width: 240px;
                            height: 316px;
                        }
                    }
                }
            }
        }
    }
}
