#foryouPage {
    margin-top: 80px;
    max-width: 100%;
    background-color: #121212;

    #foryou {
        justify-content: center;
        padding: 2rem;
        position: relative;
        float: left;
        margin: 0 300px 0 300px;

        #video {
            margin: 0 150px;

            .videos__container {
                margin-bottom: 20px;
                width: 100%;

                .avatarContainer {
                    flex: 40%;
                    max-width: 40%;

                    .avatarVideo {
                        .avatar {
                            border-radius: 50%;
                            width: 20%;
                            margin-left: 30px;
                        }
                    }
                }

                .videoContainer {
                    margin-top: -75px;
                    margin-bottom: 20px;
                    margin-left: 120px;
                    flex: 60%;
                    max-width: 60%;

                    .video-user {
                        .user_details {
                            color: #fff;
                        }

                        .follow_btn {
                            float: right;
                            width: 100px;
                            height: 40px;
                            cursor: pointer;
                            border-radius: 5px;
                            margin-right: -50px;
                            font-size: 15px;
                            font-family: inherit;
                        }

                        .videoDesc {
                            width: 400px;
                            margin-top: -0.5px;
                        }
                    }

                    .videoDetails {
                        display: flex;

                        .videoBox {
                            .videos {
                                margin-right: 10px;
                                height: calc(450px + ((93.33vw - 768px) / 1152) * 200);
                            }

                            .videoAction {
                                float: right;
                                margin-right: -60px;
                                margin-top: -590px;

                                .action_btn {
                                    width: 50px;
                                    height: 50px;
                                    border-radius: 50%;
                                    border: 0;
                                    background-color: #2f2f2f;
                                    margin-bottom: -10px;
                                    font-size: 20px;
                                    cursor: pointer;

                                    &:hover {
                                        background-color: #252525;
                                    }
                                }

                                .actionAmount {
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }

            .borderVideo {
                .border_video {
                    text-align: center;
                    display: block;
                    margin-bottom: 10px;

                    &::before {
                        width: 800px;
                        height: 0.5px;
                        content: "";
                        display: inline-block;
                        background: #414141;
                        position: relative;
                        margin-right: 10px;
                    }
                }
            }
        }
    }

    #userNotLogin {
        justify-content: center;
        padding: 2rem;
        position: relative;
        float: right;
        margin-left: 480px;
        margin-right: 190px;

        .userContainer {
            margin: 0 20px;

            .userVideo {
                display: flex;
                flex-wrap: wrap;

                .userInfo {
                    position: relative;
                    flex: 33%;
                    max-width: 33%;
                    border-radius: 10px;
                    margin-bottom: 15px;

                    .imgUser {
                        width: 230px;
                        height: 302px;
                        position: relative;
                        border-radius: 10px;
                    }

                    .userFollow {
                        position: absolute;
                        bottom: 8px;
                        text-align: center;
                        margin: 15px 15px;

                        .avatarUser {
                            position: absolute;
                            border-radius: 50%;
                            width: 20%;
                            bottom: 120px;
                            left: 80px;
                        }

                        .user {
                            margin: 10px;
                        }

                        .followBtn {
                            background-color: #f22459;
                            border-radius: 3px;
                            border: 0;
                            padding: 0.6em 0;
                            width: 200px;
                            font-size: 1em;
                            font-weight: 500;
                            font-family: inherit;
                            cursor: pointer;
                            transition: border-color 0.25s;
                            color: #fff;

                            &:hover {
                                background-color: #e53154;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (prefers-color-scheme: light) {
    #foryouPage {
        #foryou {
            #video {
                .videos__container {
                    .videoContainer {
                        .video-user {
                            .user_details {
                                color: #000;
                            }
                        }

                        .videoDetails {
                            .videoBox {
                                .videoAction {
                                    .action_btn {
                                        background-color: #f1f1f2;
                                    }
                                }
                            }
                        }
                    }
                }

                .borderVideo {
                    .border_video {
                        &::before {
                            background: #d0d1d3;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 2200px) {
    #foryouPage {
        #foryou {
            #video {
                margin: 0 360px;

                .videos__container {
                    .videoContainer {
                        .videoDetails {
                            .videoBox {
                                .videoAction {
                                    padding-top: 310px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 2180px) {
    #foryouPage {
        #userNotLogin {
            margin-left: 805px;
            margin-right: 505px;
        }
    }
}

@media screen and (max-width: 2160px) {
    #foryouPage {
        #foryou {
            #video {
                margin: 0 350px;

                .videos__container {
                    .videoContainer {
                        .videoDetails {
                            .videoBox {
                                .videoAction {
                                    padding-top: 305px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 2150px) {
    #foryouPage {
        #userNotLogin {
            margin-left: 790px;
            margin-right: 490px;
        }
    }
}

@media screen and (max-width: 2120px) {
    #foryouPage {
        #foryou {
            #video {
                margin: 0 340px;

                .videos__container {
                    .videoContainer {
                        .videoDetails {
                            .videoBox {
                                .videoAction {
                                    padding-top: 300px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #foryouPage {
        #userNotLogin {
            margin-left: 775px;
            margin-right: 475px;
        }
    }
}

@media screen and (max-width: 2090px) {
    #foryouPage {
        #userNotLogin {
            margin-left: 760px;
            margin-right: 460px;
        }
    }
}

@media screen and (max-width: 2080px) {
    #foryouPage {
        #foryou {
            #video {
                margin: 0 330px;

                .videos__container {
                    .videoContainer {
                        .videoDetails {
                            .videoBox {
                                .videoAction {
                                    padding-top: 295px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 2060px) {
    #foryouPage {
        #userNotLogin {
            margin-left: 745px;
            margin-right: 445px;
        }
    }
}

@media screen and (max-width: 2040px) {
    #foryouPage {
        #foryou {
            #video {
                margin: 0 320px;

                .videos__container {
                    .videoContainer {
                        .videoDetails {
                            .videoBox {
                                .videoAction {
                                    padding-top: 290px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 2030px) {
    #foryouPage {
        #userNotLogin {
            margin-left: 720px;
            margin-right: 420px;
        }
    }
}

@media screen and (max-width: 2000px) {
    #foryouPage {
        #foryou {
            #video {
                margin: 0 310px;

                .videos__container {
                    .videoContainer {
                        .videoDetails {
                            .videoBox {
                                .videoAction {
                                    padding-top: 285px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #foryouPage {
        #userNotLogin {
            margin-left: 705px;
            margin-right: 405px;
        }
    }
}

@media screen and (max-width: 1970px) {
    #foryouPage {
        #userNotLogin {
            margin-left: 690px;
            margin-right: 390px;
        }
    }
}

@media screen and (max-width: 1960px) {
    #foryouPage {
        #foryou {
            #video {
                margin: 0 300px;

                .videos__container {
                    .videoContainer {
                        .videoDetails {
                            .videoBox {
                                .videoAction {
                                    padding-top: 280px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1940px) {
    #foryouPage {
        #userNotLogin {
            margin-left: 675px;
            margin-right: 385px;
        }
    }
}

@media screen and (max-width: 1920px) {
    #foryouPage {
        #foryou {
            #video {
                margin: 0 290px;

                .videos__container {
                    .videoContainer {
                        .videoDetails {
                            .videoBox {
                                .videoAction {
                                    padding-top: 275px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1910px) {
    #foryouPage {
        #userNotLogin {
            margin-left: 660px;
            margin-right: 370px;
        }
    }
}

@media screen and (max-width: 1880px) {
    #foryouPage {
        #foryou {
            #video {
                margin: 0 280px;

                .videos__container {
                    .videoContainer {
                        .videoDetails {
                            .videoBox {
                                .videoAction {
                                    padding-top: 270px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #foryouPage {
        #userNotLogin {
            margin-left: 645px;
            margin-right: 355px;
        }
    }
}

@media screen and (max-width: 1850px) {
    #foryouPage {
        #userNotLogin {
            margin-left: 630px;
            margin-right: 340px;
        }
    }
}

@media screen and (max-width: 1840px) {

    #foryouPage {
        #foryou {
            #video {
                margin: 0 270px;

                .videos__container {
                    .videoContainer {
                        .videoDetails {
                            .videoBox {
                                .videoAction {
                                    padding-top: 265px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1820px) {
    #foryouPage {
        #userNotLogin {
            margin-left: 615px;
            margin-right: 325px;
        }
    }
}

@media screen and (max-width: 1800px) {

    #foryouPage {
        #foryou {
            #video {
                margin: 0 260px;

                .videos__container {
                    .videoContainer {
                        .videoDetails {
                            .videoBox {
                                .videoAction {
                                    padding-top: 260px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1790px) {
    #foryouPage {
        #userNotLogin {
            margin-left: 595px;
            margin-right: 310px;
        }
    }
}

@media screen and (max-width: 1760px) {

    #foryouPage {
        #foryou {
            #video {
                margin: 0 250px;

                .videos__container {
                    .videoContainer {
                        .videoDetails {
                            .videoBox {
                                .videoAction {
                                    padding-top: 255px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #foryouPage {
        #userNotLogin {
            margin-left: 580px;
            margin-right: 295px;
        }
    }
}

@media screen and (max-width: 1730px) {
    #foryouPage {
        #userNotLogin {
            margin-left: 570px;
            margin-right: 280px;
        }
    }
}

@media screen and (max-width: 1720px) {

    #foryouPage {
        #foryou {
            #video {
                margin: 0 240px;

                .videos__container {
                    .videoContainer {
                        .videoDetails {
                            .videoBox {
                                .videoAction {
                                    padding-top: 250px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #foryouPage {
        #userNotLogin {
            margin-left: 565px;
            margin-right: 275px;
        }
    }
}

@media screen and (max-width: 1700px) {
    #foryouPage {
        #userNotLogin {
            margin-left: 550px;
            margin-right: 260px;
        }
    }
}

@media screen and (max-width: 1680px) {

    #foryouPage {
        #foryou {
            #video {
                margin: 0 230px;

                .videos__container {
                    .videoContainer {
                        .videoDetails {
                            .videoBox {
                                .videoAction {
                                    padding-top: 245px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #foryouPage {
        #userNotLogin {
            margin-left: 540px;
            margin-right: 250px;
        }
    }
}

@media screen and (max-width: 1640px) {

    #foryouPage {
        #foryou {
            #video {
                margin: 0 220px;

                .videos__container {
                    .videoContainer {
                        .videoDetails {
                            .videoBox {
                                .videoAction {
                                    padding-top: 240px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #foryouPage {
        #userNotLogin {
            margin-left: 520px;
            margin-right: 230px;
        }
    }
}

@media screen and (max-width: 1620px) {
    #foryouPage {
        #userNotLogin {
            margin-left: 515px;
            margin-right: 225px;
        }
    }
}

@media screen and (max-width: 1600px) {

    #foryouPage {
        #foryou {
            #video {
                margin: 0 210px;

                .videos__container {
                    .videoContainer {
                        .videoDetails {
                            .videoBox {
                                .videoAction {
                                    padding-top: 235px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #foryouPage {
        #userNotLogin {
            margin-left: 510px;
            margin-right: 220px;
        }
    }
}

@media screen and (max-width: 1580px) {

    #foryouPage {
        #foryou {
            #video {
                margin: 0 190px;

                .videos__container {
                    .videoContainer {
                        .videoDetails {
                            .videoBox {
                                .videoAction {
                                    padding-top: 225px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #foryouPage {
        #userNotLogin {
            margin-left: 500px;
            margin-right: 210px;
        }
    }
}

@media screen and (max-width: 1560px) {

    #foryouPage {
        #foryou {
            #video {
                margin: 0 160px;

                .videos__container {
                    .videoContainer {
                        .videoDetails {
                            .videoBox {
                                .videoAction {
                                    padding-top: 220px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #foryouPage {
        #userNotLogin {
            margin-left: 490px;
            margin-right: 200px;
        }
    }
}

@media screen and (max-width: 1540px) {

    #foryouPage {
        #foryou {
            #video {
                margin: 0 130px;

                .videos__container {
                    .videoContainer {
                        .videoDetails {
                            .videoBox {
                                .videoAction {
                                    padding-top: 215px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #foryouPage {
        #userNotLogin {
            margin-left: 480px;
            margin-right: 190px;
        }
    }
}

@media screen and (max-width: 1500px) {

    #foryouPage {
        #foryou {
            #video {
                margin: 0 100px;

                .videos__container {
                    .videoContainer {
                        .videoDetails {
                            .videoBox {
                                .videoAction {
                                    padding-top: 210px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1460px) {

    #foryouPage {
        #foryou {
            #video {
                margin: 0 70px;

                .videos__container {
                    .videoContainer {
                        .videoDetails {
                            .videoBox {
                                .videoAction {
                                    padding-top: 205px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}