#videoDetailsContainer {
    display: flex;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: hidden;
    height: 100%;

    &::-webkit-scrollbar {
        display: none;
    }

    .videoInfo {
        &:nth-child(1) {
            flex: 60%;
            max-width: 60%;
            padding-left: 400px;
            padding-bottom: -100px;
        }

        &:nth-child(2) {
            height: 100%;
            flex: 40%;
            max-width: 40%;
            padding: 25px 25px 25px 25px;
            background-color: #121212;
        }

        .btnClose {
            left: 0;
            position: absolute;
            margin: 15px 0 0 15px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 0;
            font-size: 30px;
            cursor: pointer;
        }

        .btnUp {
            right: 31%;
            bottom: 50%;
            position: absolute;
            margin: 15px 0 0 15px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 0;
            font-size: 30px;
            cursor: pointer;
        }

        .btnDown {
            right: 31%;
            bottom: 40%;
            position: absolute;
            margin: 15px 0 0 15px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 0;
            font-size: 30px;
            cursor: pointer;
        }

        .videoDetailsPage {
            height: 100%;
            position: absolute;
        }

        .video_info_container {
            .info-container {
                border-radius: 15px;
                display: flex;
                background-color: #1b1b1b;
                padding: 10px 10px 10px 10px;
                margin-bottom: 20px;

                .avatarDetails {
                    border-radius: 50%;
                    width: 50px;
                    margin-right: 10px;
                }

                .infoContainer {
                    .descVid {
                        margin-left: -60px;
                        margin-top: 20px;
                    }
                }
            }

            .actionContainer {
                display: inline;

                .videoActions {
                    display: flex;

                    .action_btn {
                        display: inline;
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        border: 0;
                        background-color: #2f2f2f;
                        cursor: pointer;

                        &:hover {
                            background-color: #252525;
                        }
                    }

                    .actionAmount {
                        margin: 6px 18px 0 8px;
                    }
                }

                .shareBtnContainer {
                    margin-top: -32.5px;
                    float: right;

                    .action_btn {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        border: 0;
                        margin-right: 5px;
                        background-color: #2f2f2f;
                        cursor: pointer;

                        &:hover {
                            background-color: #252525;
                        }
                    }
                }
            }

            .comment__container {
                width: 100%;
                height: 350px;
                overflow: auto;
                -ms-overflow-style: none;
                scrollbar-width: none;

                &::-webkit-scrollbar {
                    display: none;
                }

                .comment__s {
                    display: flex;
                    margin-bottom: 15px;

                    .avatarComment {
                        border-radius: 50%;
                        width: 50px;
                        margin-right: 10px;
                    }

                    .infoComment {
                        width: 100%;

                        .userCmt {
                            font-size: 20px;
                        }

                        .subComment {
                            margin-top: 15px;
                        }

                        .comment_box {
                            .comment_input {
                                font-weight: 400;
                                width: 135px;
                                font-size: 16px;
                                line-height: 42px;
                                border: none;
                                background: #2f2f2f;
                                outline: none;
                                padding: 0 20px;
                                color: rgba(255, 255, 255, 0.9);
                                border-radius: 8px 0 0 8px;
                                font-family: inherit;
                            }

                            .mention_button {
                                height: 42px;
                                background: #2f2f2f;
                                border: 1px solid transparent;
                                font-size: 1em;
                                font-weight: 500;
                                font-family: inherit;
                                cursor: pointer;
                                transition: border-color 0.25s;
                                padding-bottom: 2px;
                            }

                            .emoji_button {
                                height: 42px;
                                border-radius: 0 8px 8px 0;
                                background: #2f2f2f;
                                border: 1px solid transparent;
                                font-size: 1em;
                                font-weight: 500;
                                font-family: inherit;
                                cursor: pointer;
                                transition: border-color 0.25s;
                                padding-bottom: 2px;
                                margin-right: 20px;
                            }

                            .postBtn {
                                height: 42px;
                                font-family: inherit;
                                background-color: transparent;
                                margin-left: -15px;
                                border: 0;
                                cursor: pointer;
                            }
                        }

                        .cancelCmt {
                            font-family: inherit;
                            background-color: transparent;
                            border: 0;
                            cursor: pointer;
                            float: right;
                            margin-top: -30px;
                        }

                        .reaction_comment {
                            float: right;
                            margin-top: -50px;

                            .follow_btn {
                                background-color: transparent;
                                border: 0;
                                margin-left: 3px;
                                font-size: 17px;
                            }

                            .actionAmount {
                                text-align: center;
                            }
                        }

                        .actionBtn {
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .comment_input_container {
            position: absolute;
            bottom: 0px;
            border-top: 1px solid #414141;
            margin: 0px 10px;
            padding: 21px 0px;
            display: flex;

            .comment_box {
                .cmtInputUnlogged {
                    color: rgb(254, 44, 85);
                    width: 400px;
                    font-weight: 600;
                    height: 100%;
                    /* background: rgb(241, 241, 241); */
                    background-color: #2f2f2f;
                    border-radius: 2px;
                    padding: 8px 16px;
                    font-size: 16px;
                    cursor: pointer;
                    text-align: unset;
                }

                .comment_input {
                    font-weight: 400;
                    width: 400px;
                    font-size: 16px;
                    line-height: 42px;
                    border: none;
                    background: #2f2f2f;
                    outline: none;
                    padding: 0 20px;
                    color: rgba(255, 255, 255, 0.9);
                    border-radius: 8px 0 0 8px;
                    font-family: inherit;
                }

                .mention_button {
                    height: 42px;
                    background: #2f2f2f;
                    border: 1px solid transparent;
                    font-size: 1em;
                    font-weight: 500;
                    font-family: inherit;
                    cursor: pointer;
                    transition: border-color 0.25s;
                    padding-bottom: 2px;
                }

                .emoji_button {
                    height: 42px;
                    border-radius: 0 8px 8px 0;
                    background: #2f2f2f;
                    border: 1px solid transparent;
                    font-size: 1em;
                    font-weight: 500;
                    font-family: inherit;
                    cursor: pointer;
                    transition: border-color 0.25s;
                    padding-bottom: 2px;
                    margin-right: 20px;
                }

                .postBtn {
                    height: 42px;
                    font-family: inherit;
                    background-color: transparent;
                    margin-right: 25px;
                    border: 0;
                    cursor: pointer;
                }
            }
        }
    }
}

@media (prefers-color-scheme: light) {
    #videoDetailsContainer {
        .videoInfo {
            &:nth-child(1) {
                background-color: #fff;
            }

            &:nth-child(2) {
                background-color: #fff;
            }

            .video_info_container {
                .info-container {
                    background-color: #f8f8f8;
                    padding: 10px 10px 10px 10px;
                }

                .actionContainer {
                    .shareBtnContainer {
                        .action_btn {
                            background-color: #f1f1f2;
                        }
                    }
                }
            }

            .comment_input_container {
                border-top: 1px solid #d0d1d3;

                .comment_box {
                    .comment_input {
                        background: #f0f1f3;
                    }

                    .mention_button {
                        background: #f0f1f3;
                        color: #252525;
                    }

                    .emoji_button {
                        background: #f0f1f3;
                        color: #252525;
                    }

                    .postBtn {
                        color: #252525;
                    }

                    .cmtInputUnlogged {
                        background: rgb(241, 241, 241);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1972px) {
    #videoDetailsContainer {
        .videoInfo {
            .comment_input_container {
                .comment_box {
                    .comment_input {
                        width: 410px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1947px) {
    #videoDetailsContainer {
        .videoInfo {
            .comment_input_container {
                .comment_box {
                    .comment_input {
                        width: 400px;
                    }
                }
            }
        }
    }

    #videoDetailsContainer {
        .videoInfo {
            .btnUp {
                right: 35.5%;
            }

            .btnDown {
                right: 35.5%;
            }
        }
    }
}

@media screen and (max-width: 1922px) {
    #videoDetailsContainer {
        .videoInfo {
            .comment_input_container {
                .comment_box {
                    .comment_input {
                        width: 390px;
                    }
                }
            }
        }
    }

    #videoDetailsContainer {
        .videoInfo {
            .video_info_container {
                .comment__container {
                    .comment__s {
                        .infoComment {
                            .comment_box {
                                .comment_input {
                                    width: 290px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1897px) {
    #videoDetailsContainer {
        .videoInfo {
            .comment_input_container {
                .comment_box {
                    .comment_input {
                        width: 380px;
                    }
                }
            }
        }
    }

    #videoDetailsContainer {
        .videoInfo {
            .video_info_container {
                .comment__container {
                    .comment__s {
                        .infoComment {
                            .comment_box {
                                .comment_input {
                                    width: 280px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #videoDetailsContainer {
        .videoInfo {
            .btnUp {
                right: 35%;
            }

            .btnDown {
                right: 35%;
            }
        }
    }
}

@media screen and (max-width: 1872px) {
    #videoDetailsContainer {
        .videoInfo {
            .comment_input_container {
                .comment_box {
                    .comment_input {
                        width: 370px;
                    }
                }
            }
        }
    }

    #videoDetailsContainer {
        .videoInfo {
            .video_info_container {
                .comment__container {
                    .comment__s {
                        .infoComment {
                            .comment_box {
                                .comment_input {
                                    width: 270px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #videoDetailsContainer {
        .videoInfo {
            .btnUp {
                right: 34.5%;
            }

            .btnDown {
                right: 34.5%;
            }
        }
    }
}

@media screen and (max-width: 1847px) {
    #videoDetailsContainer {
        .videoInfo {
            .comment_input_container {
                .comment_box {
                    .comment_input {
                        width: 360px;
                    }
                }
            }
        }
    }

    #videoDetailsContainer {
        .videoInfo {
            .video_info_container {
                .comment__container {
                    .comment__s {
                        .infoComment {
                            .comment_box {
                                .comment_input {
                                    width: 260px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #videoDetailsContainer {
        .videoInfo {
            .btnUp {
                right: 34%;
            }

            .btnDown {
                right: 34%;
            }
        }
    }
}

@media screen and (max-width: 1822px) {
    #videoDetailsContainer {
        .videoInfo {
            .comment_input_container {
                .comment_box {
                    .comment_input {
                        width: 350px;
                    }
                }
            }
        }
    }

    #videoDetailsContainer {
        .videoInfo {
            .video_info_container {
                .comment__container {
                    .comment__s {
                        .infoComment {
                            .comment_box {
                                .comment_input {
                                    width: 250px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1797px) {
    #videoDetailsContainer {
        .videoInfo {
            .comment_input_container {
                .comment_box {
                    .comment_input {
                        width: 340px;
                    }
                }
            }
        }
    }

    #videoDetailsContainer {
        .videoInfo {
            .video_info_container {
                .comment__container {
                    .comment__s {
                        .infoComment {
                            .comment_box {
                                .comment_input {
                                    width: 240px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #videoDetailsContainer {
        .videoInfo {
            .btnUp {
                right: 33.5%;
            }

            .btnDown {
                right: 33.5%;
            }
        }
    }
}

@media screen and (max-width: 1772px) {
    #videoDetailsContainer {
        .videoInfo {
            .comment_input_container {
                .comment_box {
                    .comment_input {
                        width: 330px;
                    }
                }
            }
        }
    }

    #videoDetailsContainer {
        .videoInfo {
            .video_info_container {
                .comment__container {
                    .comment__s {
                        .infoComment {
                            .comment_box {
                                .comment_input {
                                    width: 230px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1747px) {
    #videoDetailsContainer {
        .videoInfo {
            .comment_input_container {
                .comment_box {
                    .comment_input {
                        width: 320px;
                    }
                }
            }
        }
    }

    #videoDetailsContainer {
        .videoInfo {
            .video_info_container {
                .comment__container {
                    .comment__s {
                        .infoComment {
                            .comment_box {
                                .comment_input {
                                    width: 220px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #videoDetailsContainer {
        .videoInfo {
            .btnUp {
                right: 33%;
            }

            .btnDown {
                right: 33%;
            }
        }
    }
}

@media screen and (max-width: 1722px) {
    #videoDetailsContainer {
        .videoInfo {
            .comment_input_container {
                .comment_box {
                    .comment_input {
                        width: 310px;
                    }
                }
            }
        }
    }

    #videoDetailsContainer {
        .videoInfo {
            .video_info_container {
                .comment__container {
                    .comment__s {
                        .infoComment {
                            .comment_box {
                                .comment_input {
                                    width: 210px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1697px) {
    #videoDetailsContainer {
        .videoInfo {
            .comment_input_container {
                .comment_box {
                    .comment_input {
                        width: 300px;
                    }
                }
            }
        }
    }

    #videoDetailsContainer {
        .videoInfo {
            .video_info_container {
                .comment__container {
                    .comment__s {
                        .infoComment {
                            .comment_box {
                                .comment_input {
                                    width: 200px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #videoDetailsContainer {
        .videoInfo {
            .btnUp {
                right: 32.5%;
            }

            .btnDown {
                right: 32.5%;
            }
        }
    }
}

@media screen and (max-width: 1672px) {
    #videoDetailsContainer {
        .videoInfo {
            .comment_input_container {
                .comment_box {
                    .comment_input {
                        width: 290px;
                    }
                }
            }
        }
    }

    #videoDetailsContainer {
        .videoInfo {
            .video_info_container {
                .comment__container {
                    .comment__s {
                        .infoComment {
                            .comment_box {
                                .comment_input {
                                    width: 290px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1647px) {
    #videoDetailsContainer {
        .videoInfo {
            .comment_input_container {
                .comment_box {
                    .comment_input {
                        width: 280px;
                    }
                }
            }
        }
    }

    #videoDetailsContainer {
        .videoInfo {
            .video_info_container {
                .comment__container {
                    .comment__s {
                        .infoComment {
                            .comment_box {
                                .comment_input {
                                    width: 180px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #videoDetailsContainer {
        .videoInfo {
            .btnUp {
                right: 32%;
            }

            .btnDown {
                right: 32%;
            }
        }
    }
}

@media screen and (max-width: 1622px) {
    #videoDetailsContainer {
        .videoInfo {
            .comment_input_container {
                .comment_box {
                    .comment_input {
                        width: 270px;
                    }
                }
            }
        }
    }

    #videoDetailsContainer {
        .videoInfo {
            .video_info_container {
                .comment__container {
                    .comment__s {
                        .infoComment {
                            .comment_box {
                                .comment_input {
                                    width: 170px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1597px) {
    #videoDetailsContainer {
        .videoInfo {
            .comment_input_container {
                .comment_box {
                    .comment_input {
                        width: 260px;
                    }
                }
            }
        }
    }

    #videoDetailsContainer {
        .videoInfo {
            .video_info_container {
                .comment__container {
                    .comment__s {
                        .infoComment {
                            .comment_box {
                                .comment_input {
                                    width: 160px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #videoDetailsContainer {
        .videoInfo {
            .btnUp {
                right: 31.5%;
            }

            .btnDown {
                right: 31.5%;
            }
        }
    }
}

@media screen and (max-width: 1572px) {
    #videoDetailsContainer {
        .videoInfo {
            .comment_input_container {
                .comment_box {
                    .comment_input {
                        width: 250px;
                    }
                }
            }
        }
    }

    #videoDetailsContainer {
        .videoInfo {
            .video_info_container {
                .comment__container {
                    .comment__s {
                        .infoComment {
                            .comment_box {
                                .comment_input {
                                    width: 150px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1547px) {
    #videoDetailsContainer {
        .videoInfo {
            .comment_input_container {
                .comment_box {
                    .comment_input {
                        width: 240px;
                    }
                }
            }
        }
    }

    #videoDetailsContainer {
        .videoInfo {
            .video_info_container {
                .comment__container {
                    .comment__s {
                        .infoComment {
                            .comment_box {
                                .comment_input {
                                    width: 140px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #videoDetailsContainer {
        .videoInfo {
            .btnUp {
                right: 31%;
            }

            .btnDown {
                right: 31%;
            }
        }
    }
}

@media screen and (max-width: 1522px) {
    #videoDetailsContainer {
        .videoInfo {
            .comment_input_container {
                .comment_box {
                    .comment_input {
                        width: 230px;
                    }
                }
            }
        }
    }

    #videoDetailsContainer {
        .videoInfo {
            .video_info_container {
                .comment__container {
                    .comment__s {
                        .infoComment {
                            .comment_box {
                                .comment_input {
                                    width: 130px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1497px) {
    #videoDetailsContainer {
        .videoInfo {
            .comment_input_container {
                .comment_box {
                    .comment_input {
                        width: 220px;
                    }
                }
            }
        }
    }

    #videoDetailsContainer {
        .videoInfo {
            .video_info_container {
                .comment__container {
                    .comment__s {
                        .infoComment {
                            .comment_box {
                                .comment_input {
                                    width: 120px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1472px) {
    #videoDetailsContainer {
        .videoInfo {
            .comment_input_container {
                .comment_box {
                    .comment_input {
                        width: 210px;
                    }
                }
            }
        }
    }

    #videoDetailsContainer {
        .videoInfo {
            .video_info_container {
                .comment__container {
                    .comment__s {
                        .infoComment {
                            .comment_box {
                                .comment_input {
                                    width: 110px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1447px) {
    #videoDetailsContainer {
        .videoInfo {
            .comment_input_container {
                .comment_box {
                    .comment_input {
                        width: 200px;
                    }
                }
            }
        }
    }

    #videoDetailsContainer {
        .videoInfo {
            .video_info_container {
                .comment__container {
                    .comment__s {
                        .infoComment {
                            .comment_box {
                                .comment_input {
                                    width: 100px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1422px) {
    #videoDetailsContainer {
        .videoInfo {
            .comment_input_container {
                .comment_box {
                    .comment_input {
                        width: 190px;
                    }
                }
            }
        }
    }

    #videoDetailsContainer {
        .videoInfo {
            .video_info_container {
                .comment__container {
                    .comment__s {
                        .infoComment {
                            .comment_box {
                                .comment_input {
                                    width: 90px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1397px) {
    #videoDetailsContainer {
        .videoInfo {
            .comment_input_container {
                .comment_box {
                    .comment_input {
                        width: 180px;
                    }
                }
            }
        }
    }

    #videoDetailsContainer {
        .videoInfo {
            .video_info_container {
                .comment__container {
                    .comment__s {
                        .infoComment {
                            .comment_box {
                                .comment_input {
                                    width: 80px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1372px) {
    #videoDetailsContainer {
        .videoInfo {
            .comment_input_container {
                .comment_box {
                    .comment_input {
                        width: 170px;
                    }
                }
            }
        }
    }

    #videoDetailsContainer {
        .videoInfo {
            .video_info_container {
                .comment__container {
                    .comment__s {
                        .infoComment {
                            .comment_box {
                                .comment_input {
                                    width: 70px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1347px) {
    #videoDetailsContainer {
        .videoInfo {
            .comment_input_container {
                .comment_box {
                    .comment_input {
                        width: 160px;
                    }
                }
            }
        }
    }

    #videoDetailsContainer {
        .videoInfo {
            .video_info_container {
                .comment__container {
                    .comment__s {
                        .infoComment {
                            .comment_box {
                                .comment_input {
                                    width: 60px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-height: 965px) {
    #videoDetailsContainer {
        .videoInfo {
            .video_info_container {
                .comment__container {
                    height: 585px;
                }
            }
        }
    }
}
